<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">TODO LIST</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerLink="project" routerLinkActive="active">
          <a class="nav-link" routerLink="project">Project list</a>
        </li>
        <li class="nav-item" routerLink="project/new" routerLinkActive="active">
          <a class="nav-link" routerLink="project/new">New Project</a>
        </li>
        <li class="nav-item dropdown user-control">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="logout()">
            <a class="dropdown-item logout-button">Logout</a>            
          </div>
        </li>                
      </ul>
    </div>
  </nav>